//***********************************
//-------------GENERAL---------------
//***********************************
//**********ICON****************
    //Tamaño Desktop   
    $IconWidth_Desk: 200%;
    $IconHeight_Desk: 200%;
    
//**********COLORES*************
    //Colores del navegador
        $color_body: rgb(49, 49, 49);
        $color_title: white;
        $color_logo: rgb(233, 11, 11);
        $color_menu: white;
        $color_change_menu: rgb(60, 63, 46);
        $color_parrafos: white;
    //Colores del cuerpo princial
    //Colores del contenido
        $color_title_arti: white;
    //Colores del Footer
        $color_autor: rgb(155, 154, 154);
        $color_redes: white;
//*********FUENTE**************
    //Family 
        $FontFamily: 'Roboto', sans-serif;
    //Fuente Navegador
        $FontSize_Title: 700%;
        $FontSize_list: 200%;
    //Fuente contenido
        $FontSize_TitleArt: 400%;
    //Fuente Footer
        $FontAutor: 100%;
        $IconFooterWigth: 300%;
        $IconFooterHeight: 150%;
        $FontSizeRedes: 150%;
//*****************CONTENIDO******************
    //Tamaño_Parafo
        $FontSize_Parra: 150%;

